#top {
    margin: 0 auto;
    width: 80%;
    background-color: lightsteelblue;
    position: relative;
    border: steelblue ridge 5px;
}
#power {
    text-align: center;
    width: 30%;
    padding: 30px;
    font-size: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
}
#yoda {
    position: absolute;
    bottom: 15px;
    right: -33%;
}
#vader {
    position: absolute;
    top: 83px;
    right: -25%;
    z-index: 2;
}
#fear {
    margin: 15px;
    width: 70%;
}
h1 {
    text-align: center;
    font-size: 2.1em;
}
img {
    border: rgb(75, 18, 209) solid 2px;
    margin: 0 35%;
}
#conflict {
    margin: auto;
    width: 80%;
    padding-bottom: 15px;
    background-color: lightsteelblue;
    position: relative;
    border: steelblue ridge 5px;
    font-family: 'Metal Mania', cursive;
}
h2 {
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
}
#container{
    display: flex;
}
.box{
    width: 11%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: auto;
    border: rgb(0, 128, 49) solid 2px;
}
.img {
    margin-left: 0%;
    width: 100%;
    height: 100%
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: 44400;
}
#surge {
    width: 80%; 
    margin: auto;
    margin-top: 20px;
}
